REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
REDDIT_USERNAME=your_bot_username
REDDIT_PASSWORD=your_bot_password
REDDIT_USER_AGENT=llmphysics-bot/0.1 by u/your_bot_username
SUBREDDIT=LLMPhysics

# Mod digest (weekly mod post from wiki page)
MOD_DIGEST_WIKI_PAGE=mod-digest
MOD_DIGEST_FLAIR_TEXT=Mod Post
MOD_DIGEST_FLAIR_ID=
MOD_DIGEST_POST_DAY=6
MOD_DIGEST_POST_HOUR=0
